/*comment css*/
:root {
    --primary-theme-color: #1d9075;
  }

.comments-area .form-submit .submit{
	background-color: var(--primary-theme-color);
    color: #fff;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 0;

    border-radius: 0;
    font-size: 15px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.comments-area .comment-form-comment textarea:focus,
.comments-area .comment-form-comment textarea:hover{
	border-color: var(--primary-theme-color) !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.comments-area .form-submit .submit{
    cursor: pointer;
}


.comments-area input[type="text"], input[type="email"], input[type="url"]{
	width:100%;
}

.comments-area input[type="text"]:focus,
.comments-area input[type="text"]:hover,
.comments-area input[type="email"]:focus,
.comments-area input[type="email"]:hover,
.comments-area input[type="url"]:focus,
.comments-area input[type="url"]:hover{
	border-color: var(--primary-theme-color) !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*sidebar*/

.sidebar .widget ,
.widget-area section.widget {
    padding: 20px 20px !important;
    border-radius: 0;
    position: relative;
    box-shadow: 0 0 2px #727070;
}

.widget_block h2,
.widget-title,
.widget.woocommerce .widget-title, 
.open-widget-content .widget-title, .widget-title ,
.widget-area .wp-block-search__label{
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}

.widget_block .wp-block-group__inner-container h2:after,
.widget-title::after {
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 60px;
    content: '';
    bottom: 0;
    left: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.widget_block .wp-block-group__inner-container .wc-block-featured-category__title:after,
.widget_block .wp-block-group__inner-container .wc-block-featured-product__title:after{
    width: 0;
}

.page-content .search-form{
    display: flex;
} 

.page-content .search-form,
.widget_search .search-form {
    display: flex;
}

.widget_block .wp-block-search .wp-block-search__input,
.page-content .search-form .search-field,
.widget_search .search-form .search-field {
    width: 69%;
    border-radius: 0;
    padding: 9px;
    margin-bottom: 0;
}

.page-content .search-form label,
.widget_search .search-form label {
    margin-bottom: 0px;
    width: 50%;
}

.widget_block .wp-block-search .wp-block-search__button,
.page-content .search-form  .search-submit,
.widget_search .search-form .search-submit,
.widget-area .search-submit{
    padding: 1em 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 0;
    max-width: 100%;
    background-color: var(--primary-theme-color);
    color: #fff;
    margin-left: 10px;
}
.wp-block-latest-comments{
    margin-left: 0px;
}
.widget-area .search-form{
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    max-width: 100%;
}
.wp-block-search .wp-block-search__button svg{
    fill: #fff;
    font-size: 1.1em;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
    padding: 0.5em 1.5em;
}
.widget-area .search-submit{
    padding: 10px;
}
.search-form input.search-field {
    float: left;
    border: 1px solid #d7d7d7;
    background: #fff;
    padding-left: 15px;
    font-size: 16px;
    height: 60px;
    color: #000;
    width: 100%;
}
.search-form .search-submit {
    float: left;
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    padding: 0;
    border: 2px solid #fff;
    position: relative;
    font-size: 1.33em;
    line-height: 55px;
    cursor: pointer;
    z-index: 1;
    background-color: var(--primary-theme-color);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 60px;
    overflow: hidden;
}
.search-form .search-submit::before{
    content: "";
    position: absolute;
    color: #FFF;
    background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23fff" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>');
}
.search-form .search-submit{
    float:none;
    width: auto;
    font-size: 15px;
    line-height: 25px ;
    cursor: pointer;
    z-index: 1;
    text-indent: 0px;
}
.widget_search .search-form label {
    width: 100%;
}
input[type=search]:focus{
    border-color: var(--primary-theme-color);
}

.widget_search .search-form {
    position: relative;
}

.widget_recent_entries ul li a{
    margin-bottom: 4px;
    display: block;
    font-weight: 400;
}


.widget_recent_entries ul li span::before {
    font-family: "FontAwesome"; 
    font-weight: 900; 
    content: "\f073";
    margin-right: 5px;
}

.widget_recent_entries ul li span{
    color: var(--primary-theme-color);
}

.widget_block .wp-block-latest-comments li{
    padding-left: 2px;
    padding-top: 2px;
    border-bottom: 1px dashed #d7d7d7;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.widget_block .wp-block-latest-posts li,
.widget_block .wp-block-page-list li,
.widget_pages ul li,
.widget_nav_menu ul li,
.widget_recent_entries ul li,
.widget_recent_comments ul li,
.widget_meta ul li,
.widget-area ul li{
    padding-left: 2px;
    padding-top: 2px;
    border-bottom: 1px dashed #d7d7d7;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.widget_block .wp-block-latest-posts li{
    overflow: hidden;
}

.widget_block .wp-block-latest-posts__featured-image.alignleft{
    margin-bottom: 0;
}

.widget_block .wp-block-tag-cloud a,
.widget_tag_cloud .tagcloud a{
    display: inline-block;
    margin: 4px 2px;
    border: 1px solid #d7d7d7;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
    padding: 5px 20px;
    font-size: 16px !important;
}

.widget_block .wp-block-tag-cloud a:hover,
.widget_tag_cloud .tagcloud a:hover{
    border-color: var(--primary-theme-color);
    background-color: var(--primary-theme-color);
    color: #fff;
}

.widget_block .wp-block-page-list .has-child ul li,
.widget_block .wp-block-categories ul.children li,
.widget_pages ul li.page_item_has_children ul li,
.widget_nav_menu ul li .sub-menu li,
.widget_categories ul li .children li{
    margin-top: 10px;
}

.widget_block .wp-block-page-list .has-child ul li:last-child,
.widget_block .wp-block-categories ul.children li:last-child,
.widget_pages ul li.page_item_has_children ul li:last-child,
.widget_categories ul li ul.children li:last-child,
.widget_nav_menu ul li.menu-item-has-children ul li:last-child{
    border-bottom: none;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

.widget_block ol.wp-block-latest-comments{
    padding: 0;
}

.widget_meta ul li{
    margin-left: 2px;
    margin-bottom: 5px;
}

.widget_meta ul li:hover{
    color: var(--primary-theme-color);
}

.widget_media_gallery figure.gallery-item {
    margin: 0px;
}

.widget_calendar .calendar_wrap .wp-calendar-nav{
    display: none;
}

.wp-block-calendar .wp-calendar-table tbody tr td#today,
.widget_calendar .calendar_wrap .wp-calendar-table tbody tr td#today{
    color: #fff;
    background-color: var(--primary-theme-color);
}

.wp-block-calendar table th, .wp-block-calendar table td,
.widget_calendar table th, .widget_calendar table td {
    padding: 5px 0px;
}

.footer .wp-block-calendar table th, .wp-block-calendar table td{
    padding: 5px;
}

.wp-block-calendar table th, .wp-block-calendar table td a{
    text-decoration: none;
}

.footer .wp-block-audio audio{
    width: 90%;
    min-width: 180px;
}

.widget_block .wp-block-calendar .wp-calendar-nav{
    display: none;
}

.wp-block-calendar table th, .wp-block-calendar table td a:hover{
    color: #fff;
}

.wp-block-calendar table th {
    font-weight: 700;
    background: transparent;
    width: 65px;
    height: 40px;
    text-align: center;
    color: #666666;
}

.widget_calendar{
    margin-bottom: 10px !important;
}

.widget_block .wp-block-categories-dropdown select,
.widget_block .wp-block-archives-dropdown select{
    width: 100%;
    padding: 7px;
} 

.widget_block .wp-block-archives li,
.widget_block .wp-block-categories li{
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px dashed #d7d7d7;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}

.widget_categories li, .widget_archive li {
    padding-bottom: 15px;
    text-align: right;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px dashed #d7d7d7;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}

.widget_categories li a, .widget_archive li a {
    float: left;
    clear: both;
}

/*end of sidebar*/

.entry-content table th, .entry-content table td,
.comments-area table th, .comments-area table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

/*customizer settings*/
/*boxed layout*/
.has-box-layout .site-wrapper {
  background-color: #f8f8f8 !important;
}

@media (min-width: 1200px) {
  .has-box-layout .site-wrapper {
    width: 1170px;
    margin: 15px auto;
    margin: 0.9375rem auto;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.175);
  }
  .has-box-layout .sticky-nav .main-nav{
    width: 1170px;
  }
}

@media (min-width: 1380px) {
  .has-box-layout .site-wrapper {
    width: 1360px;
    margin: 50px auto;
    margin: 3.125rem auto;
  }
  .has-box-layout .sticky-nav .main-nav{
    width: 1360px;
 } 
}

/*sidebar position*/
@media screen and (min-width: 992px) {
    .row.has-left-sidebar [class*="col-"]:first-child {
        order: 2;
    }

    .row.has-left-sidebar [class*="col-"]:last-child {
        order: 1;
    }
}

.row.no-sidebar [class*="col-"] {
    flex-basis: 100%;
    max-width: 100%;
}

/*end of customizer settings*/

.footer{
    overflow-x: clip;
}

.footer .footer-top{
    width: 100%;
    padding: 25px;
}
.footer-top{

}

@media (min-width: 992px){ 
    #primary-menu ul li{
        padding: 5px;
    }
    .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: -100%;
        top: 0;
    }
    .main-navigation .menu .dropdown-menu li:hover,
    .main-navigation .menu .children li:hover{
        background-color: #f5f5f5;
    }

    .main-navigation .menu .children, .main-navigation .menu .dropdown-menu {
        display: block;
        position: absolute;
        min-width: 190px;
        z-index: 3;
        text-align: left;
        margin: 0 0 10px 0;
        border: 0;
        font-size: 15px;
        -webkit-box-shadow: 0 0 10px rgb(105 105 105 / 10%);
        box-shadow: 0 0 10px rgb(105 105 105 / 10%);
    }
}

/*end of main header*/

.site-title a:hover{
    transition: all 0.5s;
}

/*header search*/
.offcanvas-menu form .search-submit {
    outline: none;
    /*float: left;*/
    width: 60px;
    height: 65px;
    margin-bottom: 0;
    font-size: 1.33em;
    line-height: 55px;
    z-index: 1;
    background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23fff" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 60px;
    overflow: hidden;
}
/*end of header search*/

/*breadcrumb-trail*/

.breadcrumb-trail .trail-browse{
    display: none;
}

.breadcrumb-trail .trail-items{
    display: flex;
}

@media only screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
}

.sp-100 .widget-area section{
    padding: 0;
}

#primary-menu .add-menu a{
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
}

@media only screen and (max-width: 500px) {
    #site-navigation .btn-wrapper{
        display: none;
    }
}

.flex-multi-business-login.sticky-menu{
    margin-top: 32px;
}

.flex-multi-business-cutomizer.sticky-menu{
    margin-top: 0px;
}

.texture-slide .fa-angle-left:before,
.texture-slide .fa-angle-right:before{
    width: 25px;
    height: 25px;
    color: #9c9c9c;
    line-height: 25px;
}

@media screen and (max-width: 767px){
    .texture-slide .fa-angle-left:before,
    .texture-slide .fa-angle-right:before{
        position: relative;
        top: -9px;
        right: 3px;
        /*color: #fff;*/
    }
}

.woocommerce .texture-single-product-summary-wrap .prev_next_buttons{
    display: none;
}

.woocommerce div.product div.summary{
    display: grid;
}

.woocommerce div.product p.price{
    margin-bottom: 15px !important;
}

.woocommerce .single_variation_wrap .woocommerce-variation-price .price .woocommerce-Price-amount,
.woocommerce div.product p.price .woocommerce-Price-amount{
    color: #333;
}

.woocommerce div.product p.price ins .woocommerce-Price-amount{
    color: #333;
    font-size: 30px;
    display: inline-block;
    font-weight: 700;
}

.woocommerce div.product p.price del .woocommerce-Price-amount{
    font-size: 18px;
    font-weight: 400;
    color: #666;
    text-decoration: line-through;
    display: inline-block;
    margin-left: 5px;
}

.woocommerce div.product form.cart .variations th{
    line-height: initial;
}

.woocommerce div.entry-summary form.cart button:hover{
    color: #fff !important;
    background-color: #333 !important;
}

.yith-wcwl-share li a {
    color: #ffffff !important;
}

@media screen and (min-width: 1400px){
    .texture-slider-section .texture-to2-slide-list img{
        height: 800px;
    }
}

.texture-slide .owl-nav button.owl-prev:hover i::before,
.texture-slide .owl-nav button.owl-next:hover i::before{
    color: #fff;
}

.woocommerce .texture-product-slide-section .texture-product:hover .texture-product-image:before{
    visibility: hidden;
}

section.widget{
    padding: 0;
}

.woocommerce .widget_price_filter .price_slider_amount .button{
    margin-top: 22px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    top: -0.25rem;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
    background-color: var(--primary-theme-color);
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: var(--primary-theme-color)47;
}

.woocommerce ul.product_list_widget li .woocommerce-Price-amount{
    color: var(--primary-theme-color);
}

.woocommerce ins {
    background: transparent;
}

.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
    padding: 10px 0 10px;
}

.texture-list-grid-switcher a:hover{
    color: #fff;
}

#alm-quick-view-content div.summary form.cart{
    display: flex;
}

.site-main .not-found{
    padding: 0;
}

.feature-area .banner-box .banner-img img{
    width: 100%;
}

.slide-layout-1 .slider-content-caption h2{
    font-size: 56px;
    line-height: inherit;
    font-weight: 600;
}

.section-title-heading .heading{
    font-size: 48px;
}

.site-main .blog-detail h4{
    font-size: 25px;
    padding-top: 20px !important;
}

.woocommerce .single-product section.related,
.woocommerce .woocommerce-MyAccount-content section{
    padding: 0;
}

.wishlist-items-wrapper .product-add-to-cart a{
    background-color: var(--primary-theme-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.wishlist-items-wrapper .product-add-to-cart a:hover{
    background-color: #333;
}

.wishlist_table tr td.product-name{
    text-align: center;
}

.slide-layout-1 .slider-content-caption a.slide-btn:hover{
    color: #202020;
    background-color: #fff !important;
}

.comments-area .comment-list .comment-body{
    position: relative;
}

.sp-100 .blog-detail a,
.sp-100 .blog-detail a:hover,
.entry-content a,
.entry-content a:hover,
.widget_block .wp-block-group__inner-container p a,.comment-content a,.widget_text a{
    text-decoration: underline;
}

.sp-100 .blog-detail .post-meta a,
.sp-100 .blog-detail .pagination-blog a{
    text-decoration: none;
}