@media (max-width: 991px) {
    .navbar-nav .nav-item .mega-heading {
        color: var(--primary-theme-color);
        padding: 10px;
        display: block;
        pointer-events: none;
    }
    .navbar-nav .nav-item a,
    .navbar-nav .dropdown-item a,
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px 0;
        font-size: 14px;
    }   
}

@media (max-width: 525px) {
    .navbar-toggler-icon {
        width: 25px !important;
        height: 3px !important;
    }
    
}
@media (max-width: 767px) {
    .box-image .page-header h2, .box-image .page-header h1 {
        font-size: 19px;
    } 
    .single-post .post-meta li{
        padding: 0PX;
    }
    .single-post .post-meta li::after{
        display: none;
    }
    .single-post ul.post-meta {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
}
@media (max-width: 320px) {
    nav .btn-wrapper ul li {
        margin-right: 16px;
    }
    nav .btn-wrapper ul li i {
        font-size: 16px;
    }
    .navbar-toggler{
        font-size: 22px !important;
    }
}

@media (max-width: 1024px) {
    .navbar-nav .nav-item {
        margin-right: 17px;
    }
}
@media (min-width: 1700px) {
    .container {
        max-width: 1660px;
    }
}